@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background: white;
    overflow-x: hidden;
}

nav {
    min-width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

a {
    color: #1c2334;
    font-family: 'Roboto Slab', serif;
    font-size: clamp(1.09rem,1rem + .47vw,1.33rem);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #bb1450;
    text-decoration: underline;
    text-decoration-color: #1c2334;
    text-underline-offset: 1px;
}

ul {
    display: flex;
    gap: 5rem;
}

li {
    list-style: none;
}

.logo {
    width: 65px;
    aspect-ratio: 1;
}

.content {
    min-width: 100vw;
    height: max-content;
}

.week {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 10rem;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% / 6);
}

.pair {
    height: 8rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .25rem;
    background: ghostwhite;
}
.pair:hover {
    cursor: pointer;
    border: 1px solid black;
}

.up {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: center;
    height: 30%;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: ghostwhite;
}

.down {
    text-align: center;
    height: 70%;
    width: 100%;
    background: lightsteelblue;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.day_name {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #1c2334;
    font-size: clamp(1.09rem,1rem + .47vw,1.33rem);
}

.name {
    font-weight: bold;
}

.nav_menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.selected_week {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: clamp(0.6rem, 0.7rem + .47vw, 1.33rem);
}

.arrow {
    padding: 0.5rem;
}
.arrow:hover {
    color: #bb1450;
    cursor: pointer;
}

.flex {
    display: flex;
}





.admin_main {
    padding: 2rem 10rem;
    width: 100vw;
    height: 100%;
    justify-content: center;
    gap: 5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.choose {
    width: 50%;
    flex-direction: column;
    gap: 2rem;
}

select {
    width: 50%;
    height: 3rem;
    background: lightsteelblue;
    border-radius: 5px;
    text-align: center;
}
select:hover {
    cursor: pointer;
}

input {
    margin-left: 2rem;
    padding: 0 1rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    background: ghostwhite;
}
input:hover {
    cursor: pointer;
}

.table {
    width: 50%;
    gap: 2rem;
    flex-direction: column;
}

.t_item {
    gap: 3rem;
}

.left_t {
    width: 40%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: ghostwhite;
}

.right_t {
    width: 60%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightsteelblue;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

.choose_title {
    text-align: start;
}

.table_title {
    text-align: end;
}






